[submodule "labs/lab1/lab01-bcchen52"]
	path = labs/lab1/lab01-bcchen52
	url = git@github.com:CS220-2024S/lab01-bcchen52.git
[submodule "hw/hw01-bcchen52"]
	path = hw/hw01-bcchen52
	url = git@github.com:CS220-2024S/hw01-bcchen52.git
[submodule "labs/lab2/lab02-bcchen52"]
	path = labs/lab2/lab02-bcchen52
	url = git@github.com:CS220-2024S/lab02-bcchen52.git
[submodule "hw/hw02-bcchen52"]
	path = hw/hw02-bcchen52
	url = git@github.com:CS220-2024S/hw02-bcchen52.git
[submodule "labs/lab3/lab03-bcchen52"]
	path = labs/lab3/lab03-bcchen52
	url = git@github.com:CS220-2024S/lab03-bcchen52.git
[submodule "projects/project01/proj01-bcchen52"]
	path = projects/project01/proj01-bcchen52
	url = git@github.com:CS220-2024S/proj01-bcchen52.git
[submodule "labs/lab4/lab04-bcchen52"]
	path = labs/lab4/lab04-bcchen52
	url = git@github.com:CS220-2024S/lab04-bcchen52.git
[submodule "hw/hw03-bcchen52"]
	path = hw/hw03-bcchen52
	url = git@github.com:CS220-2024S/hw03-bcchen52.git
[submodule "labs/lab5/lab05-bcchen52"]
	path = labs/lab5/lab05-bcchen52
	url = git@github.com:CS220-2024S/lab05-bcchen52.git
[submodule "labs/lab6/lab06-bcchen52"]
	path = labs/lab6/lab06-bcchen52
	url = git@github.com:CS220-2024S/lab06-bcchen52.git
