[submodule "labs/lab1/lab01-bcchen52"]
	path = labs/lab1/lab01-bcchen52
	url = git@github.com:CS220-2024S/lab01-bcchen52.git
[submodule "hw/hw01-bcchen52"]
	path = hw/hw01-bcchen52
	url = git@github.com:CS220-2024S/hw01-bcchen52.git
[submodule "labs/lab2/lab02-bcchen52"]
	path = labs/lab2/lab02-bcchen52
	url = git@github.com:CS220-2024S/lab02-bcchen52.git
[submodule "hw/hw02-bcchen52"]
	path = hw/hw02-bcchen52
	url = git@github.com:CS220-2024S/hw02-bcchen52.git
[submodule "labs/lab3/lab03-bcchen52"]
	path = labs/lab3/lab03-bcchen52
	url = git@github.com:CS220-2024S/lab03-bcchen52.git
